.page {
    padding: 1rem;
}

.card {
    border: 1px solid whitesmoke;
    border-radius: 5px;
    color: whitesmoke;
    width: 15vw;
    height: 10vw;
    padding: 5px;
}

h2 {
    font-size: 30px;
}